.contact-section {
  max-width: 600px;
  margin: 3rem auto;
  padding: 2rem;
  background-color: #203a43;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
}

.contact-section h1 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.contact-section form input,
.contact-section form textarea {
  width: 100%;
  padding: 0.7rem 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: 1px solid #cbd5e1;
}

.btn-contact {
  display: block;
  width: 100%;
  padding: 0.7rem;
  background-color: #ccd6da89;;
 color: white;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.btn-contact:hover {
  background: #afc8e1;;
}
