/* ========== PROJECTS PAGE ========== */

.projects-page {
  max-width: 1100px;
  margin: 4rem 4%;
  padding: 0 1.5rem;
}

/* Header */
.projects-header {
  text-align: center;
  margin-bottom: 3rem;
}

.projects-header h1 {
  font-size: 2.4rem;
  font-weight: 700;
  color: #d0d5da;
}

.projects-header p {
  max-width: 700px;
  margin: 1rem auto 0;
  font-size: 1.05rem;
  color: #d0d5da;
}

/* Grid */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
}

/* Card */
.project-card {
  background-color: #ccd6da;
  border-radius: 14px;
  padding: 1.6rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.project-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.12);
}

/* Content */
.project-title {
  font-size: 1.3rem;
  font-weight: 600;
  color: #0f172a;
  margin-bottom: 0.6rem;
}
.project-image {
  width: 100%;
  height: 180px;
  overflow: hidden;
  border-radius: 12px;
  margin-bottom: 1rem;
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.project-description {
  font-size: 0.95rem;
  color: #475569;
  line-height: 1.6;
  margin-bottom: 1rem;
}

/* Tech stack */
.project-tech {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1.2rem;
}

.tech-badge {
  font-size: 0.75rem;
  padding: 0.3rem 0.6rem;
  border-radius: 6px;
  background: #e0e7ff;
  color: black;
}

/* Buttons */
.project-links {
  display: flex;
  gap: 0.75rem;
}

.btn-primary,
.btn-outline {
  text-decoration: none;
  font-size: 0.85rem;
  padding: 0.45rem 0.9rem;
  border-radius: 8px;
  font-weight: 500;
  transition: background 0.2s ease, color 0.2s ease;
}

.btn-primary {
    background-color:#828f9499;
  color: black;
}

.btn-primary:hover {
  background-color:#a6c9d7 ;
}

.btn-outline {
  border: 1px solid #2563eb;
  color: #2563eb;
}

.btn-outline:hover {
   background-color: #ccd6da;
  color: black;
}

/* Responsive */
@media (max-width: 640px) {
  .projects-header h1 {
    font-size: 2rem;
  }
}
